<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/GymLogo.ico">
    <link rel="stylesheet" type="text/css" href="/css/errores.css">
    <title th:text="#{400_titulo}"> Error 400 - Solicitud incorrecta </title>
<body>
    <div class="container">
        <h1 th:text="#{400_h1}">Error 400</h1>
        <p th:text="#{400_p}">Lo sentimos, parece que la solicitud no se ha realizado correctamente.</p>
        <a href="/" class="btn" th:text="#{400_a}">Volver a la página de inicio</a>
    </div>
</body>
</html>
