<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/formulario-registro.css">
    <link rel="stylesheet" type="text/css" href="/css/lista-registros.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-bar.css">
	<link rel="shortcut icon" href="/assets/img/GymLogo.ico">
    <script type="text/javascript" src="/js/formulario-registro.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
	<title th:text="#{formulario_titulo}">Formulario</title>
</head>
<body>

	<header>
		<div class="navbar">
			<div class="logo"> <a th:href="@{/}">Gym Paradise</a>
		    </div>
			<ul class="links">
				<li><a th:href="@{/}" th:text="#{inicio}">Inicio</a></li>
				<li><a th:href="@{/tmb}" th:text="#{calculadora_tmb}">Calculadora de calorías</a></li>
				<li><a th:href="@{/rmcalculator}" th:text="#{calculadora_rm}">Calculadora de RM</a></li>
				<li><a th:href="@{/peso/}" th:text="#{registrar_peso}">Registra tu peso</a></li>
			</ul>
			<div class="language-dropdown">
				<div class="custom-select">
					<select id="language-select" class="language-select">
						<option selected disabled value="null" th:text="#{idioma}">
						<option value="/change-language?lang=es">Español</option>
						<option value="/change-language?lang=en">English</option>
						<option value="/change-language?lang=ru">Русский</option>
						<option value="/change-language?lang=ja">日本語</option>
					</select>
					<span class="icon"><i class="fa-solid fa-globe"></i></span>
				</div>
			</div>
			
			<a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="action_btn" th:text="#{iniciar}">Iniciar sesión</a>
			<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="action_btn" th:text="#{cerrar}">Cerrar sesión</a>
			<div class="toggle_Btn" onclick="openMenu()">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>
	</header>


	<div class="dropdown_menu">
		<li><a th:href="@{/}" th:text="#{inicio}">Inicio</a></li>
		<li><a th:href="@{/tmb}" th:text="#{calculadora_tmb}">Calculadora de calorías</a></li>
		<li><a th:href="@{/rmcalculator}" th:text="#{calculadora_rm}">Calculadora de RM</a></li>
		<li><a th:href="@{/peso/}" th:text="#{registrar_peso}">Registra tu peso</a></li>
		<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" class="action_btn" th:text="#{iniciar}">Iniciar sesión</a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="action_btn" th:text="#{cerrar}">Cerrar sesión</a></li>
	</div>
    
<div class="formulario-container">
    <form th:object="${registroPeso}" th:action="@{/peso/guardar}" method="post">
        <!-- Agrega un campo oculto para el ID del registro -->
        <input type="hidden" th:field="*{id}">
        <label for="peso" th:text="#{formulario_peso}">Peso</label>
		<div class="error-message" th:text="#{formulario_warning}">El campo 'Peso' debe ser un número válidos.</div>
        <input type="text" th:field="*{peso}" id="peso" required>
        <br>
        <label for="fecha" th:text="#{formulario_fecha}">Fecha</label>
        <input type="date" th:field="*{fecha}" id="fecha" required>

        <br>
        <div class="botones">
            <input type="submit" th:value="#{formulario_guardar}" class="boton-guardar">
            <input type="button" th:value="#{formulario_volver}" class="boton-volver" onclick="javascript:history.back();">
        </div>
    </form>
</div>
        
      <!-- Footer -->
	  <footer>
		<div class="footer-content">
			<figure>
				<img src="/assets/img/Gymlogo.png" alt="Descripción de la imagen">
			</figure>
			<p th:text="#{footer_texto}">
				Gym Paradise es un sitio web el cual busca que sus usuarios consigan su mejor versión física,
				brindandoles herramientas
				que los guíen en su proceso, herramientas tales como calculadoras de calorías o de maximo levantamiento,
				así como un registro
				de su peso para ver su progreso
			</p>
			<ul class="socials">
				<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/sebastian_rodriguez097/" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="https://github.com/JS-Marinn" target="_blank"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/juan-sebastián-marín-rodríguez-592a77296/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>copyright &copy;2023 Gym Paradise. designed by <span>Js-Marinn</span></p>
		</div>
	</footer>
  
</html>